<div class="header">
  <%= link_to "New Cocktail", new_cocktail_path , class: "btn btn-flat" %>
</div>

<div class="main">
  <div class="text">
    <h1>Cocktails Master</h1>
    <h4>Now you have <%= @cocktails.count %> cocktails! </h4>
  </div>
</div>


<div class="cards">
  <% @cocktails.each do |co| %>
      <%= link_to cocktail_path(co) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path co.photo, :height=>500, :gravity=>"auto", :crop=>"thumb" %>)">
          <p><%= co.name %></p>
        </div>
      <% end %>
  <% end %>

</div>






