<h1>ADD NEW COCKTAIL</h1>

<%= simple_form_for [@cocktail] do |c| %>
  <%= c.input :name %>

  <%= c.input :photo_cache, as: :hidden %>
  <%= c.input :photo %>
  <%= c.error_notification message: 'You should upload photo' %>

  <%= c.submit %>
<% end %>




