<h1>ADD NEW Incredient</h1>

<%= simple_form_for ([@cocktail, @dose]) do |d| %>
  <%= d.input :description %>
  <%= d.association :ingredient %>
  <%= d.error_notification message: 'you already have this' %>



  <%= d.submit %>
<% end %>


